*{
    margin:0;
padding:0;
box-sizing: border-box;
}

#Page2{
    height: 80vh;
    width: 100vw;
    background-color: azure;
  display:grid;
  grid-template-columns: 50% 50%;
}
#img1 , #img2{
    
    display: flex;
    justify-content: center;
    align-items: center;
}

#imgleft , #imgright{
    height: 60%;
    width: 60%;
    border-radius: 2rem;
}

#imgleft:hover, #imgright:hover{
    height: 64%;
    width: 65%;
    border-radius: 2rem;
}